<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--配置一个servlet-->
    <servlet>
        <!--servlet的名字-->
        <servlet-name>HomeServlet</servlet-name>
        <!--具体指向的类文件地址-->
        <servlet-class>com.controller.HomeServlet</servlet-class>
    </servlet>
    <!--配置一个servlet映射-->
    <servlet-mapping>
        <!--映射关联的servlet名字-->
        <servlet-name>HomeServlet</servlet-name>
        <!--浏览器访问该servlet路径：1：全路径-->
        <!--<url-pattern>/home</url-pattern>-->
        <!--2：虚拟目录-->
        <!--<url-pattern>/home/*</url-pattern>-->
        <!--3：*.扩展名-->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <!--欢迎页面-->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>